<%- include ("./partials/header")%>

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <form action="/forgot" method="POST">
            <fieldset>
                <legend>Forgot Password</legend>
                <label for="email">Email</label>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" autofocus placeholder="Enter email address">
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset Password" class="btn btn-primary">
                </div>
            </fieldset>
            
        </form>
    </div>
</div>

<%- include ("./partials/footer")%>